<ion-content padding no-bounce class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h3 ion-text class="text-secondary">
        <strong>CAR DEALER</strong> <small>APP</small>
      </h3>
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Usuario
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.usuario" name="usuario" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Clave
        </ion-label>
        <ion-input type="password" [(ngModel)]="usuario.pass" name="pass"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="celeste" tappable (click)="forgotPass()"> Olvidaste tu Password?</p>

    <div>
      <button ion-button icon-start block color="primary" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        INGRESAR
      </button>
    </div>
  </div>
</ion-content>
