<ion-header>

  <ion-navbar>

    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Firma</small>
     
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondoazul" >
  <sign></sign>
</ion-content>
