<!--
  Generated template for the ReportelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Reporte</small>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoazul">

</ion-content>
