<!--
  Generated template for the RecepcionlPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Recepcion</small>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content  class="fondoazul">
  <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
               
                    <img src="assets/imgs/perfil.jpg" /> 
                                
            </ion-col>
            <ion-col col-8>
                <ion-row>
                    <h2>Usuario: {{empleado.U_NAME}}</h2>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                      <ion-row><h5>{{empleado.firstName}} {{empleado.lastName}}</h5></ion-row>
                      <ion-row><h6>{{empleado.U_Cargo}} </h6></ion-row>
                      <ion-row><h6>{{empleado.U_CDTallerE}} </h6></ion-row>
                    </ion-col>
                    
                </ion-row>
            </ion-col>
          </ion-row>          
        </ion-grid>
    </ion-card>
 
 
  <ion-card>
    <ion-list>   
        <ion-list-header class="fondoazul">
            Ordenes de Trabajo
        </ion-list-header>  
        <ion-searchbar placeholder="Buscar Ordenes de trabajo " color="primary" [(ngModel)]="palabra" (ionInput)="buscar()"></ion-searchbar>   
        <ion-item ion-item *ngFor="let item of agendados" (click)="irDetalleRecepcion(item)" class="lista"> 
          <ion-grid>
            <ion-row>
              <ion-col col-4><h2>OT: {{ item.DocEntry }}</h2></ion-col>
              <ion-col col-8><h5>{{ item.U_CardName }}</h5></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><h4>{{ item.U_BoxPatent }}</h4></ion-col>
              <ion-col col-4><h4>{{ item.modelo}}</h4></ion-col>
              <ion-col col-4><h4>{{ item.anomodelo }}</h4></ion-col>
            </ion-row>
          </ion-grid>            
          
          
        </ion-item>       
    </ion-list>
  </ion-card>

</ion-content>
