page-recepcionl {
.fondoazul h1{
    color: #112848;
    font-weight: bold;
}
.fondoazul h2{
    color: #08a0cf;
    font-weight: bold;
}
.fondoazul h3{
    color:  #112848;
    font-weight: bold;
}
.fondoazul h5{
    color:  #ffbd0f;
    font-weight: bold;
}
.fondoazul h6{
    color:  #112848;
    
}
}
