<!--
  Generated template for the RecepcionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Recepcion</small>
     
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondoazul">
    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
                <ion-row>
                    <h1>OT:{{ot.DocEntry}}</h1>
                </ion-row>
                <ion-row>
                      <h2>{{ot.marca}}</h2>
                </ion-row>
            </ion-col>
            <ion-col col-8>
                <ion-row>
                    <h2>{{ot.cliente}}</h2>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                      <ion-row><h5>Cod</h5></ion-row>
                      <ion-row><h6>{{ot.U_BoxPatent}}</h6></ion-row>
                    </ion-col>
                    <ion-col col-4>
                      <ion-row><h5>Modelo</h5></ion-row>
                      <ion-row><h6>{{ot.U_Model}}</h6></ion-row>
                    </ion-col>
                    <ion-col col-4>
                      <ion-row><h5>Año</h5></ion-row>
                      <ion-row><h6>{{ot.anomodelo}}</h6></ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>          
        </ion-grid>
    </ion-card>
    <ion-list >

        <ion-item class="formulario blanco">
          <ion-label fixed color="celeste" text-wrap>Fecha de Ingreso </ion-label>
        
          <ion-datetime color="blanco" displayFormat="DD/MM/YYYY"  [(ngModel)]="fecha" doneText="Selecciona" cancelText="Cancelar"></ion-datetime>
        </ion-item>
      
        <ion-item class="formulario">
          <ion-label fixed  color="celeste" text-wrap >Kilometraje</ion-label>
          <ion-input type="number" color="blanco" [(ngModel)]="km" ></ion-input>
        </ion-item>
        <ion-item class="formulario">         
          <ion-label  color="celeste" >Nivel de Combustible</ion-label>
            <ion-range min="0" max="100"   step="25" color="secondary"> 
                <ion-icon range-left small color="secondary" name="thermometer"></ion-icon>
                <ion-icon range-right color="secondary" name="thermometer"></ion-icon>
            </ion-range>     
                    
        </ion-item>
        <ion-item class="formulario">
            <ion-label fixed  color="celeste" text-wrap>Descripción de la Reparación</ion-label>
            <ion-textarea type="text"  text-wrap [(ngModel)]="descripcion"></ion-textarea>
        </ion-item>
        <ion-item class="formulario">
            <ion-label fixed  color="celeste" text-wrap>Comentario Técnico</ion-label>
            <ion-textarea type="text"  text-wrap [(ngModel)]="comentario"></ion-textarea>
        </ion-item>
        <ion-item class="formulario">
            <ion-label fixed  color="celeste" text-wrap>Pertenencias</ion-label>
            <ion-select multiple="true" [(ngModel)]="xpertenencias" cancelText="Cancelar" okText="Ok" color="blanco"
            >
              <ion-option *ngFor="let elemento of pertenencias" [value]="elemento"  
              >
                {{elemento.Name}}
              </ion-option>
                      
            </ion-select>
        </ion-item>

        <ion-item class="formulario">
          <ion-grid>
            <ion-row>
                <ion-col col-6>
                  <ion-row>
                      <button ion-button color="light" round class="centrar" (click)="irRevTec()"><ion-icon name="briefcase"></ion-icon></button>
                  </ion-row>
                  <ion-row class="blanco">
                      <ion-col class="centrar_t">R. Tecnica</ion-col> 
                    </ion-row>
                  
                </ion-col>
                <ion-col col-6>
                  <ion-row>
                      <button ion-button color="light" round class="centrar" (click)="irFirma()"><ion-icon name="pulse"></ion-icon></button>
                  </ion-row>
                  <ion-row class="blanco">
                    <ion-col class="centrar_t">Firma</ion-col> 
                  </ion-row>
                  
                </ion-col>
            </ion-row>
              
          </ion-grid>            
        </ion-item>
        <ion-item class="formulario">
          <ion-grid>
            <ion-row>
              
                  <button ion-button color="secondary" round class="centrar"  (click)="almacenar()" ><ion-icon name="checkmark"></ion-icon></button>
              
            </ion-row>
          </ion-grid>            
        </ion-item>
      </ion-list>
</ion-content>
