page-recepcion {
.fondoazul h1{
    color: #112848;
    font-weight: bold;
}
.fondoazul h2{
    color: #08a0cf;
    font-weight: bold;
}
.fondoazul h3{
    color:  #112848;
    font-weight: bold;
}
.fondoazul h5{
    color:  #ffbd0f;
    font-weight: bold;
}
.fondoazul h6{
    color:  #112848;
    
}
.formulario{
    background-color: transparent !important;
}
.blanco{
    color: #fff !important;
}
ion-list + ion-list {
    margin-top: 0;
  }
  .small-text {
    font-size: 10px;
  }
  ion-select{
  color:#fff;
  }
}
