
<ion-header>

  <ion-navbar>
    
    <ion-title>     
      <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
      <small>Agendamiento</small>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoazul">

</ion-content>
