<canvas #myCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event)">
        
</canvas>
<ion-toolbar id="bottom-toolbar">
  <ion-row>
      <ion-buttons left>
          <button *ngFor="let colour of availableColours" icon-only ion-button (click)="changeColour(colour)">
              <ion-icon [style.color]="colour" name="brush"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right>
            <button color="dark" ion-button icon-only (click)="clearCanvas()"><ion-icon name="trash"></ion-icon></button>
            <button color="dark" ion-button icon-only (click)="changeSize(5)"><ion-icon style="font-size: 0.25em;" name="radio-button-on"></ion-icon></button>
            <button color="dark" ion-button icon-only (click)="changeSize(10)"><ion-icon style="font-size: 0.5em;" name="radio-button-on"></ion-icon></button>
            <button ion-button full (click)="saveCanvasImage()"> Guardar </button>
        </ion-buttons>
  </ion-row>  
  
</ion-toolbar>
