sign {
    height: 100%;
    width: 100%;
    display: block;
    
    .fb{
        background-color: #fff;
    }
    #top-toolbar{
        position: absolute;
        top: 0;
    } 
    #bottom-toolbar {
        
    }
}
