<ion-header>

  <ion-navbar>
    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Crear Clave de Acceso</small>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content  >
	<ion-grid>
	    <ion-row>
	        <ion-col col-12>
	            <h1 class="centrar_t">Bienvenido</h1>
	            <h2 class="centrar_t">{{empleado.firstName}} {{empleado.lastName}} </h2>
	            <h4 class="centrar_t">Aun no tienes una Clave de Acceso </h4>
	            <h4 class="centrar_t"> Creala a continuacion </h4>
	        </ion-col>       
	    </ion-row>
	    <ion-row>
	        <ion-col col-12>
	             <ion-item >
			        <ion-label floating>
			          <ion-icon name="lock" item-start></ion-icon>
			          Clave
			        </ion-label>
			        <ion-input type="password" [(ngModel)]="empleado.clave" name="pass" color="danger" ></ion-input>
			      </ion-item>
	        </ion-col>       
	    </ion-row>
	    <ion-row>
	        <ion-col col-12>
	             <ion-item  >
			        <ion-label floating >
			          <ion-icon name="lock" item-start ></ion-icon>
			          Reingresar Clave
			        </ion-label>
			        <ion-input type="password" [(ngModel)]="empleado.clave2" name="pass2" color="danger"></ion-input>
			      </ion-item>
	        </ion-col>       
	    </ion-row>
	    <ion-row>
	        <ion-col col-12>
	            
		          	<button ion-button icon-start block color="primary" tappable (click)="actualizarClave()">
				        <ion-icon name="log-in"></ion-icon>
				        Registrar
				    </button>
		       
	        </ion-col>       
	    </ion-row>
	 </ion-grid>
</ion-content>

