<ion-header>
  <ion-navbar  class="fondoazul">   
    
    <ion-title >
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        Car Dealer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoazul"  no-bounce>
 <ion-grid>
    <ion-row>
        <ion-col col-12>
            <h1 class="centrar_t">Bienvenido</h1>
            <h2 class="centrar_t">{{empleado.firstName}} {{empleado.lastName}} </h2>
        </ion-col>       
    </ion-row>
    <ion-row (click)="irAgendamiento()" *ngIf= "asignacion===1">
        <ion-col col-12>
            <div class="box1">              
                <div class="box1txt">Agendamiento</div>
            </div>
        </ion-col>       
    </ion-row>
    <ion-row (click)="irRecepcion()" *ngIf= "recepcion===1">
        <ion-col col-12>
            <div class="box2">
                <div class="box2txt">Recepción</div>
            </div>
        </ion-col>       
    </ion-row>
    <ion-row (click)="irReporte()" *ngIf= "registro===1">
        <ion-col col-12>
            <div class="box3">
                <div class="box3txt">Registro de trabajo</div>
            </div>
        </ion-col>       
    </ion-row>
 </ion-grid>

 
</ion-content>
