page-home {
        
    .box1{
    height: 150px;  
     background: url("../assets/imgs/agendamiento1.jpg") no-repeat;
     background-size: 600px;
     background-color: #112848;
     background-position:center;
     
    }
    .altura33{
        height: 50% !important; 
        display:block;
    }
    .box1txt{
        color: #112848;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 2.1em;
        padding-left: 20px;
        text-decoration: underline;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .box2{
        height: 150px;   
        background: url("../assets/imgs/agendamiento.jpg") no-repeat;        
        background-color: #112848;
        background-position:top center;      
       }
    .box2txt{
        color: #112848;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 2.1em;
        padding-left: 20px;
        text-decoration: underline;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
        padding-right: 20px;
    }
    .box3{
        height: 150px;   
        background: url("../assets/imgs/reporte2.jpg") no-repeat;
        background-size: 500px;
        background-color: #112848;
        background-position:right top;
       }
    .box3txt{
        color: #112848;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 2.1em;
        padding-left: 20px;
        text-decoration: underline;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
