.toolbar-background {
  background-color: #fff;  
  color:white ;     
}
.toolbar-title{
  color:#ffbd0f;  
}
.toolbar-button{
  color: #08a0cf;
}
.bar-button-default-md{
  color: #112848 !important;
}
.fondoazul{
  background-color: #112848;
  color: #fff;
}
.lista{
  border-bottom: 1px solid #cdcdcd;
}
.lista h2{
  color: #112848;
  font-weight: bold;
}
.lista h3{
  color: #ffbd0f;
  font-weight: bold;
}
input {  
     color: #fff;  
}
textarea{
  color: #fff; 
}
.datetime-md .datetime-placeholder {
  color: #fff;
}
.centrar{
    margin-left: auto;
    margin-right: auto;
  
}
.centrar_t{
  text-align: center;
}