page-revtec {
    .auto{
        
        background-size: 100%;
        background-color: #fff;
    }
    .contenedor{
        height: 49%;
        background-color: #fff;
        margin: 1% 1%;
      }
}
