<ion-header>

  <ion-navbar>

    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Revision Tecnica</small>
     
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondoazul" >
  <ion-grid>
    <ion-row> 
        <ion-col col-12 class="auto">
          <draw ></draw>
        </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col col-12 class="auto">
        <button ion-button block (click)="tomarfoto()">Toma una foto</button>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col col-12 class="auto">
          <img [src]="image" *ngIf="image" />
      </ion-col>  
    </ion-row>
  </ion-grid>
  
 
</ion-content>
