<ion-header>

  <ion-navbar>
    <ion-title>
        <img src="assets/imgs/logo.png" width="140px" style="display:inline-block" height="40px"/> 
        <small>Pertenencias</small>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content  class="fondoazul">

  <ion-card>
    <ion-list>   
        <ion-list-header class="fondoazul">
            Pertenencias del Vehiculo {{ot.U_BoxPatent}}
        </ion-list-header>  
          
        <ion-item ion-item *ngFor="let item of pertenencias" (click)="marcar(item)" class="lista">                
        	<ion-grid item-content>
        		<ion-row>
        			<ion-col col-2></ion-col>
        			<ion-col col-8>{{item.Name}}</ion-col>
        			<ion-col col-2> <div *ngIf= "item.ch==1"> OK </div>  </ion-col>
        		</ion-row>
        	</ion-grid>

        </ion-item>       
    </ion-list>
  </ion-card>

</ion-content>
